#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
# run above to install torch first!
numpy
pandas
scipy
tqdm
opencv-python
matplotlib
Pillow
jupyter
timm
ultralytics
scikit-image
visdom
imgaug
lmdb
imageio
openpyxl
pyyaml
fitter
segmentation-models-pytorch
imagecodecs
pycocotools
pyvips
scikit-learn
albumentations
transformers
evaluate
ray
# "ray[air]"
# "ray[tune]"
# "ray[data]"